.list-group.h-annotation-context-menu
  each category in categories
    if category
      a.h-set-category.list-group-item(href='#', data-category=category)
        span.icon-right-big
        = category
