.modal-dialog(role='document')
  .modal-content
    form.modal-form(role='form')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Add category
          .modal-body
            .form-group
              label(for='h-category-label') Label
              input#h-category-label.input-sm.form-control(
                type='text', placeholder='Enter a label for this category', value='')
            if pixelmap.boundaries
              .form-group
                label(for='h-category-stroke-color') Stroke Color
                .input-group.h-colorpicker
                  input#h-category-stroke-color.input-sm.form-control(
                    type='text', value='')
                  span.input-group-addon
                    i
            .form-group
              label(for='h-category-fill-color') Fill Color
              .input-group.h-colorpicker
                input#h-category-fill-color.input-sm.form-control(
                  type='text', value='')
                span.input-group-addon
                  i
            .g-validation-failed-message.hidden
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button.btn.btn-primary.h-submit(type='submit') Save
