if element.type === 'heatmap' || element.type === 'griddata'
  .vue-component-heatmap
else
  .modal-dialog(role='document')
    .modal-content
      form.modal-form(role='form')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Edit annotation
        .modal-body
          if element.type === 'heatmap' || element.type === 'griddata'
            .vue-component-heatmap1111
          else
            - element.label = element.label || {};
            .form-group
              label(for='h-group-name') Group Name
              input#h-group-name.input-sm.form-control(
                type='text', placeholder='Enter an optional group name for the element', value=element.group)
            include ../elementProps.pug
            +elementProps(element)
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary.h-submit(type='submit') Save
