# Top level dependencies
girder>=3.0.14,<5
girder-jobs>=3.0.3,<5
# We install only the tile sources we need for testing; using [all] is probably
# better for development.
large-image[openslide,pil]
# External dependencies
pip>=9
tox
twine
virtualenv
