# Top level dependencies
girder>=5.0.0a10
girder-jobs>=5.0.0a10
# We install only the tile sources we need for testing; using [all] is probably
# better for development.
large-image[openslide,pil]
# External dependencies
pip>=9
tox
twine
virtualenv
