extends ./panel.pug

block title
  | #[span.icon-chart-line] #[span.icon-spin1.animate-spin.load-mark(title="Getting Plot Information")] Metadata Plot
block controls
  span.s-no-panel-toggle
    button.g-widget-metadata-plot-settings.btn.btn-sm.btn-default(title="Plot Settings")
      i.icon-cog
    span.s-no-panel-toggle.h-panel-maximize
      i.icon-resize-full(title="Maximize")

block content
  #h-metadata-plot.h-metadata-plot-area
