extends ./panel.pug

block title
  | #[span.icon-tags] #{title}
  if panel && firstKey && firstValue
    span.g-widget-metadata-header-key-value #{firstKey+' '+firstValue+'  '}
block controls
  if accessLevel >= AccessType.WRITE
    span.s-no-panel-toggle
      | !{contents}
  if panel
    span.s-no-panel-toggle.h-panel-maximize
      i.icon-resize-full(title="Maximize")

block content
  .g-widget-metadata-container
