.h-frame-selector-widget
  padding 0

.input-group
  display inherit

.image-frame-control-box
  & > div
    display flex
    flex-direction column
    padding-bottom 10px

td
  padding 2px
  & > input
    width 60px

.picker-offset
  margin-right 50px
  right 0

.enabled-col
  font-size 0
  text-align center

input[type=checkbox]
  width 20px
