.h-roi-footer
  font-size: 10px
  width: 100%
  text-align: center

.h-roi-img-block
  display: flex
  flex-direction: row
  justify-content: space-evenly
  width: 100%
  padding-bottom: 5px

.h-roi-buttons
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-evenly
  padding-bottom: 5px

.h-roi-img-container
  width: 75px
  height: 75px
  background-color: black
  margin: 0px 5px 0px 5px
