.h-roi-footer
  font-size: 10px
  width: 100%
  text-align: center

.h-roi-img-block
  display: flex
  flex-direction: row
  justify-content: space-evenly
  width: 100%
  padding-bottom: 5px

.h-roi-buttons
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-evenly
  padding-bottom: 5px

.h-roi-img-container
  width: 75px
  height: 75px
  background linear-gradient(45deg, white, purple)
  margin: 0px 5px 0px 5px

.h-roi-img-container-expanded
  width: 150px
  height: 150px
  background linear-gradient(45deg, white, purple)
  margin: 0px 5px 0px 5px

.h-roi-image-block--expanded, .roi-image-control
  display: flex

.h-roi-image-block--expanded
  flex-direction: row
  flex-wrap wrap

.h-roi-header
  padding 15px
  border-bottom 1px solid #e5e5e5
  margin-bottom 15px
  display flex
  flex-direction row
  justify-content space-between

.h-roi-header-title
  margin 0

.h-roi-workflow-button
  border 1px solid #ccc
  border-radius 4px
  text-align center
  padding 6px 12px
  margin 5px

.roi-image-control
  padding-right: 5px
  padding-bottom: 25px

.roi-image-control-image, .roi-image-control-options
  display: flex
  width: 150px
  height: 175px

.roi-classify-block
  flex-direction: row

.h-roi-agree-disagree
  flex-direction column

.h-roi-agree-disagree-label
  flex-direction row

.h-roi-reset-button
  border 1px solid #ccc
  padding 0px
  margin-left 5px

.roi-image-control-options
  flex-direction: column

.roi-new-category
  flex-direction: row

.border
  border: 0px solid black

.no-disp
  display: none
