select.h-group-name
  appearance none

.h-colorpicker
  width 100%

.h-btn-left
  float left

#h-export-link
  visibility hidden

#h-import-groups
  display none

#h-import-replace
  margin 0 0 0 5px
  vertical-align middle

#h-element-fill-color, #h-element-line-color
  border-radius 3px
