#g-hui-form
  .g-hui-description
    font-size 12px
    margin 0 0 2px

#g-hui-banner-color, #g-hui-brand-color
  display inline
  max-width 160px

#g-hui-banner-default-color, #g-hui-brand-default-color
  width 65px
  display inline
  // Vertical-align is useful to avoid an 5px offset in Mozilla
  vertical-align top
