.h-image-body(tabindex=-1)
  .h-image-view-body
    .image-viewer-loading.hidden
      span.icon-spin1.animate-spin(title="Loading image")
    .h-image-view-container
    .h-image-coordinates-container.hidden
      span.icon-location
      span.h-image-coordinates 0, 0
  .h-control-panel-container.s-panel-group.h-panel-group-left
    #h-analysis-panel
  #h-annotation-selector-container.s-panel-group.h-panel-group-right
    #h-overview-panel.h-overview-widget.s-panel
    #h-frame-selector-panel.h-frame-selector-widget.s-panel
    #h-zoom-panel.h-zoom-widget.s-panel
    #h-metadata-panel.h-metadata-widget.s-panel
    #h-metadataplot-panel.h-metadata-plot.s-panel
    #h-annotation-panel.h-annotation-selector.s-panel
    #h-draw-panel.h-draw-widget.s-panel.hidden
  #h-annotation-popover-container
  #h-annotation-context-menu.hidden
  #h-pixelmap-context-menu.hidden
